.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  width: 2.6cm;
  text-align: left;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
  cursor: pointer;
}
.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}
